body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(187, 187, 187);
}

h1{
    text-align: center;
    font-size: 64px;
    margin-top: 5px;
    margin-bottom: 0;
}

h2{
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 75px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 300px;
}

.rock, .paper, .scissors{
    height: 300px;
    width: 300px;
    font-size: 200px;
    color: rgb(63, 63, 63);
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    transition: all .2s ease-in-out;
}

.rock{
    background-color: rgb(255, 60, 60);
}

.paper{
    background-color: rgb(59, 144, 255);
}

.scissors{
    background-color: rgb(42, 196, 42);
}

.buttons button:hover{
    border-color: gold;
    transform: scale(1.1);
    content: "hello";
}

.play{
    margin-left:auto;
    margin-right: auto;
    margin-top: 100px;
    height: 100px;
    width: 200px;
    font-size: 48px;
    border-radius: 10px;
    background-color: blueviolet;
    border-width: 5px;
    transition: all, .2s ease-in-out;
}

.play:hover{
    background-color: purple;
}