body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1{
    text-align: center;
    font-size: 64px;
    margin-bottom: 300px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 300px;
}

button{
    background-color: white;
    height: 150px;
    width: 300px;
    font-size: 40px;
    border-radius: 10px;
}